/* For All Website */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #163853;
}

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--main-color) !important;
}

.mainBg {
    background-color: var(--main-color);
}


.hover:hover {
    background:green;
    
}
/*/// For All Website ///*/
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* CV Section */
#cv {
    width: 100vw;
    height: 100vh;
}

#cv .containerImg img {
    width: 100% !important;
    border-radius: 50%;
    border: 5px solid #fff !important;
}

#cv .nameJob h4 span {
    border-bottom: 5px solid var(--main-color);
}

#cv .workExperience .containerWork {
    border-left: 2px solid var(--main-color);
}


/* CV Section */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, between 768px & 991px ) */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    #cv .contact h4 span {
        display: block;
    } 
}
/*/// Medium devices (landscape tablets, between 768px & 991px ) ///*/